<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">

<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Login</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login" (submit)="login()">

        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="example@lp.com"
                 [(ngModel)]="loginUser.username" name="email">

          <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                 [(ngModel)]="loginUser.password" name="password">
        </div>


        <button type="submit" class="btn btn-primary">Login</button>

      </form>
    </div>
  </div>
</div>

</body>
</html>
