/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100%;
  background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
}
