<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!------ Include the above in your HEAD tag ---------->
</head>
<body>
<br>
<div class="container">
  <div id="products" class="row view-group">
    <div class="item col-xs-4 col-lg-4" *ngFor="let course of courses">
      <div class="thumbnail card">
        <div class="img-event">
          <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt=""/>
        </div>
        <div class="caption card-body">
          <h4 class="group card-title inner list-group-item-heading">
            {{course.title}}</h4>
          <p class="group inner list-group-item-text">
            {{course.description}}</p>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead" style="font-size: small">
                Category: {{course.category.name}}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <a class="btn btn-success" style="font-size: 0.8em" (click)="assign(course)">Add to your courses!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="text-center">
     <ul class="pagination"> &lt;!&ndash;*ngIf="pager.totalElements > 0" &ndash;&gt;
       <li [ngClass]="{disabled: pager.first}">
         <a> &lt;!&ndash;(click)="filterChanged({}, 1)"&ndash;&gt;First</a>
       </li>
       <li [ngClass]="{disabled: pager.first}">
         <a> &lt;!&ndash;(click)="filterChanged({}, pager.currentPage - 1)"&ndash;&gt;Poprzednia</a>
       </li>
       <li *ngFor="let pageNumber of pager.totalPages" [ngClass]="{active:pager.number === pageNumber}">
         <a> &lt;!&ndash;(click)="filterChanged({}, pageNumber)">&ndash;&gt;{{pageNumber}}</a>
       </li>
       <li [ngClass]="{disabled: pager.last}">
         <a> &lt;!&ndash;(click)="filterChanged({}, pager.currentPage + 1)">&ndash;&gt;Następna</a>
       </li>
       <li [ngClass]="{disabled: pager.last}">
         <a>&lt;!&ndash; (click)="filterChanged({}, pager.totalPages)">&ndash;&gt;Ostatnia</a>
       </li>
     </ul>
   </div>-->

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass] = "{disabled: pager.first}"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item" *ngFor="let a of counter(pager.totalPages); let pageIndex = index" [ngClass] = "{disabled: pager.number == pageIndex}">
        <a class="page-link">{{pageIndex + 1}}</a>
      </li>
      <li class="page-item" [ngClass] = "{disabled: pager.last}"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

</div>
</body>
</html>
