<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
</head>

<body id="LoginForm">

<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Sign up</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Signup" (submit)="signup()">

        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="example@lp.com"
                 [(ngModel)]="newUser.email" name="email">

          <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                 [(ngModel)]="newUser.password" name="password">

          <input type="text" class="form-control" placeholder="First name"
                 [(ngModel)]="newUser.firstName" name="firstName">

          <input type="text" class="form-control" placeholder="Last name"
                 [(ngModel)]="newUser.lastName" name="lastName">

          <input type="radio" class="form-control"
                 [(ngModel)]="newUser.role" name="role" value="ROLE_USER" checked>User

          <input type="radio" class="form-control"
                 [(ngModel)]="newUser.role" name="role" value="ROLE_INSTRUCTOR">Instructor
        </div>


        <button type="submit" class="btn btn-primary">Register</button>

      </form>
    </div>
  </div>
</div>

</body>
</html>
