<head>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<br>
<div class="container">
  <div class="main-div">
    <div class="col-md-12">
      <h4>Manage the courses</h4>
      <div class="table-responsive">


        <table id="mytable" class="table table-bordred table-striped">

          <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Enrollments</th>
          <th>Edit</th>
          <th>Delete</th>
          </thead>

          <tbody>
          <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>{{course.category.name}}</td>
            <td>{{course.enrollments}}</td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs"><span
                  class="fa fa-edit"></span></button>
              </p>
            </td>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" (click)="delete(course.id)">
                  <span class="fa fa-trash"></span></button>
              </p>
            </td>
          </tr>
          </tbody>

        </table>

        <div class="clearfix"></div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" [ngClass]="{disabled: pager.first}">
              <a class="page-link"(click)="changePage(pager.number - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let a of counter(pager.totalPages); let pageIndex = index"
                [ngClass]="{disabled: pager.number == pageIndex}" (click)="changePage(pageIndex)">
              <a class="page-link">{{pageIndex + 1}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled: pager.last}">
              <a class="page-link" (click)="changePage(pager.number + 1)">Next</a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
</div>
</body>
