<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/home">Learning Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2">
      <span *ngIf="!isAuthenticated()">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
      </li>
        </span>
      <span *ngIf="isAuthenticated()">
            <li class="nav-item form-inline my-2 my-lg-0">
        <a class="nav-link" href="#">Log out</a>
      </li>
      </span>

    </ul>
    <ul class="navbar-nav ">
      <li></li>
    </ul>
  </div>
</nav>
