<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/home">Learning Platform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon-glyphicon-th-list"></span> Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a *ngFor="let category of categories" class="dropdown-item" [routerLink]="['/courses', category.name]">{{category.name}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/courses">All</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course/new" routerLinkActive="active">Add new course!</a>
      </li>
    </ul>


    <ul class="navbar-nav mr-2">
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
      </li>
      <li class="nav-item form-inline my-2 my-lg-0" *ngIf="isAuthenticated()">
        <a class="nav-link" (click)="logOut()">Log out</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li></li>
    </ul>
  </div>
</nav>
